@page "/sales/prices"
@using BlazorBootstrap;
@using General.Abstractions.Models;
@using General.Abstractions.Storage.Query;
@using General;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository.Query;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository;
@using PorphumReferenceBook.Logic.Abstractions;
@using PorphumReferenceBook.Logic.Storage.Repository.Query;
@using PorphumSales.Logic.Abstractions.Storage.Repository;

@using PorphumSales.Logic.Models.Mapper;
@using TEntity = PorphumSales.Logic.Storage.Models.ProductPrice;
@using DEntity = PorphumSales.Logic.Models.Sales.PriceableProduct;
@using DProduct = PorphumReferenceBook.Logic.Models.Product.Product;

@inject IPriceRepository repository;
@inject IReferenceBookMapper _referenceBookMapper;
@inject ISalesQueryParamFactory paramFactory;

<PageTitle>Цены</PageTitle>

<h2>Цены</h2>
<br />
<Button Type="ButtonType.Button" Color="ButtonColor.Dark" @onclick="@(() => ShowAsync(true))"> Добавить цену </Button>
<Collapse @ref="collapse">
<hr/>
<EditForm EditContext="_editContext">
    <ProductFinder ExternalMethod=Product ParntEditContext="_editContext" />
    <input type="hidden" @bind-value="_view.ProductId" />
    <div class="row">
        @if (SelectedProduct is not null)
        {
            <div class="col-2 col-md-2">
                <h3><b>Наименование</b></h3>
            </div>
            <div class="col-5 col-md-5">
                <PorphumWeb.Blazor.Pages.Components.MapProduct Entity="@SelectedProduct" />
            </div>
        }
        else
        {
            <div class="col-2 col-md-2">
                Наименование не задано
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-1 col-md-1">
            <b>Цена</b>
        </div>
        <div class="col-5 col-md-5">
            <CurrencyInput 
                TValue="decimal" 
                Locale="ru-RU"
                id="price" 
                @bind-Value="_view.Price" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-1 col-md-1">
            <b>С даты</b>
        </div>
        <div class="col-5 col-md-5">
            <DateInput TValue="DateTime" id="from-date" @bind-Value="_view.From" />
        </div>
    </div>
    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" @onclick="@(() => Submit(_editContext))"> Сохранить </Button>
</EditForm>
</Collapse>
<br/>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>С даты</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in entities!)
        {
            <tr>
                <PorphumWeb.Blazor.Pages.Components.MapProduct Entity="@entity.Product" />
                <td>@entity.Price</td>
                <td>@entity.FromDate</td>
            </tr>
        }
    </tbody>
</table>
<Pagination ActivePageNumber="@CurrentPage"
            TotalPages="@PageLimit"
            Alignment="Alignment.Center"
            FirstLinkIcon="IconName.ChevronDoubleLeft"
            PreviousLinkIcon="IconName.ChevronLeft"
            NextLinkIcon="IconName.ChevronRight"
            LastLinkIcon="IconName.ChevronDoubleRight"
            PageChanged="OnPageChangedAsync" />

@code {
    private IMappableModel<DProduct, long>? SelectedProduct { get; set; }

    private static readonly int PAGE_SIZE = 5;

    public int CurrentPage { get; set; } = 1;

    public int PageLimit { get; set; } = 1;

    private DEntity[]? entities;

    private EditContext? _editContext;

    private ViewModel _view = new();

    private Collapse collapse = default!;

    public string Input { get; set; } = string.Empty;
    private void Product(long id, EditContext _context)
    {
        _view.ProductId = id;
        SelectedProduct = _referenceBookMapper.MapEntity(new MappableModel<DProduct, long>(_view.ProductId));
    }

    private async Task Submit(EditContext _context)
    {
        var entity = new DEntity(
            _referenceBookMapper.MapEntity(new MappableModel<DProduct, long>(_view.ProductId)),
            new Money(_view.Price),
            _view.From
        );

        repository.AddNewPrice(entity);

        await ShowAsync(false);

        UpdateEntities();

    }

    protected override void OnInitialized()
    {
        _editContext = new(_view);
        UpdateEntities();
    }

    private void UpdateEntities()
    {
        PageLimit = repository.GetLimit();

        var config = new ProductsPricesParamConfig()
            {
                Skip = (CurrentPage - 1) * PAGE_SIZE,
                Limit = PAGE_SIZE
            };

        var query = (paramFactory as IQueryParamsFactory<ProductsPricesParamType, ProductsPricesParamConfig, TEntity>).InitQuery(config);

        entities = repository.GetByQuery(query).ToArray();
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });

        UpdateEntities();
    }

    private async Task ShowAsync(bool isShow)
    {
        if (isShow)
        {
            await collapse.ShowAsync();
        }
        else
        {
            await collapse.HideAsync();
        }
    }

    public class ViewModel
    {
        public long ProductId { get; set; }
        public DateTime From { get; set; } = DateTime.Now;
        public decimal Price { get; set; } = 0;
    }
}
