@using General.Abstractions.Storage;
@using General.Abstractions.Storage.Query;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository.Query;
@using PorphumReferenceBook.Logic.Models.Product;
@using PorphumReferenceBook.Logic.Storage.Repository.Query;
@using PorphumSales.Logic.Abstractions.Storage.Repository;
@using PorphumSales.Logic.Models.Sales;
@using PorphumSales.Logic.Storage.Models;

@inject IStorageRepository repository;
@inject ISalesQueryParamFactory paramFactory;
@inject NavigationManager Navigation

@page "/sales/storage"

<PageTitle>Склад</PageTitle>

<h2>Склад</h2>
<br />
@if (entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Колличество</th>
                <th>Дата изменения</th>
                <th>История</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in entities)
            {
                <tr>
                    <td><PorphumWeb.Blazor.Pages.Components.MapProduct Entity="@product.Product" /></td>
                    <td>@product.Count</td>
                    <td>@product.LastUpdate</td>
                    <td>
                        <Button Size="Size.Small"
                                Type="ButtonType.Link"
                                Color="ButtonColor.Primary"
                        @onclick="@(()=>Navigation.NavigateTo($"sales/history/{product.Product.MapKey}"))">
                            Посмотреть
                        </Button></td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination ActivePageNumber="@CurrentPage"
                TotalPages="@PageLimit"
                Alignment="Alignment.Center"
                FirstLinkIcon="IconName.ChevronDoubleLeft"
                PreviousLinkIcon="IconName.ChevronLeft"
                NextLinkIcon="IconName.ChevronRight"
                LastLinkIcon="IconName.ChevronDoubleRight"
                PageChanged="OnPageChangedAsync" />
}



@code {
    private EditContext? _editContext;

    private static readonly int PAGE_SIZE = 5;

    public int CurrentPage { get; set; } = 1;

    public int PageLimit { get; set; } = 1;

    private StorageProduct[]? entities;

    private void UpdateEntities()
    {
        PageLimit = (repository as IQueryableRepository<StorageProduct, ProductStorage>).GetLimit();

        var query = (paramFactory as IQueryParamsFactory<ProductsStoragesParamType, ProductsStoragesParamConfig, ProductStorage>).InitQuery();

        var config = new ProductsStoragesParamConfig()
            {
                Skip = (CurrentPage - 1) * PAGE_SIZE,
                Limit = PAGE_SIZE
            };

        query.Append((paramFactory as IQueryParamsFactory<ProductsStoragesParamType, ProductsStoragesParamConfig, ProductStorage>).CreateParam(ProductsStoragesParamType.Skip, config));
        query.Append((paramFactory as IQueryParamsFactory<ProductsStoragesParamType, ProductsStoragesParamConfig, ProductStorage>).CreateParam(ProductsStoragesParamType.Limit, config));

        entities = repository.GetByQuery(query).ToArray();
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });

        UpdateEntities();
    }

    protected override void OnInitialized()
    {
        UpdateEntities();
    }
}
