@page "/refbook/client/{type}/{ClientId:long?}"
@using General.Abstractions.Storage;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository;
@using PorphumReferenceBook.Logic.Models.Client;
@using PorphumReferenceBook.Logic.Models.Product;

@inject IClientRepository repository;
@inject NavigationManager Navigation

@using DEntity = PorphumReferenceBook.Logic.Models.Client.Client;
@using PorphumWeb.Blazor.Classes

<PageTitle>@Title</PageTitle>
<ConfirmDialog @ref="dialog" />

<div class=row>
    <div class="col-2 col-md-2">
        <h2>@Title</h2>
    </div>
    @if (_viewModel.isEdit)
    {
        <div class="col-3 col-md-3">
            <Button Type="ButtonType.Submit" Color="ButtonColor.Danger" @onclick="@(() => DeleteAsync(_editContext))"> Удалить </Button>
        </div>
    }
</div>
<div class="row">
    <EditForm EditContext="_editContext">
        <input type="hidden" @bind-value="_viewModel.isEdit" />
        @if (_viewModel.isEdit)
        {
            <div class="row">
                <div class="col-1 col-md-1">
                    <b>Id</b>
                </div>
                <div class="col-5 col-md-5">
                    <InputNumber id="id" @bind-Value="_viewModel.Key" readonly="readonly" />
                </div>

            </div>
        }
        <br />
        <div class="row">
            <div class="col-1 col-md-1">
                <b>Название</b>
            </div>
            <div class="col-5 col-md-5">
                <InputText id="name" @bind-Value="_viewModel.Name" />
            </div>
        </div>
        <hr />
        <br />
        <div class=row>
            <div class="col-2 col-md-2">
                <h2>Дополнительная информация</h2>
            </div>
        </div>
        <br />
        <Collapse @ref="toggleItem.CollapseItem"
                  OnHiding="toggleItem.OnHiddenCallback"
                  OnShown="toggleItem.OnShownCallback">
            <div class="row">
                <div class="col-1 col-md-1">
                    <b>ИНН</b>
                </div>
                <div class="col-5 col-md-5">
                    <InputText id="inn" @bind-Value="_viewModel.Inn" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-1 col-md-1">
                    <b>Адрес</b>
                </div>
                <div class="col-5 col-md-5">
                    <InputTextArea id="adress" @bind-Value="_viewModel.Adress" />
                </div>
            </div>
        </Collapse>
        <hr />
        <div class="row">
            <div class="col-5 col-md-5">
                <Button Type="ButtonType.Button" Color="ButtonColor.Dark" @onclick="@(() => toggleItem.ToggleAsync())">@toggleItem.ButtonTittle </Button>
                </div>
            </div>
        <br />
        <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" @onclick="@(() => Submit(_editContext))"> Сохранить </Button>
    </EditForm>
</div>

@code {
    private ConfirmDialog dialog = default!;
    private ToggleClass toggleItem = new();

    public string Title { get; set; } = "Default tittle";
    [Parameter]
    [EditorRequired]
    public string Type { get; set; } = null!;

    [Parameter]
    public long? ClientId { get; set; } = null!;

    private EditContext? _editContext;
    private ViewModel _viewModel = new();

    protected override void OnInitialized()
    {
        if (Type == "create")
        {
            Title = "Добавить нового клиента";
        }
        else if (Type == "edit")
        {
            Title = "Клиент";

            var product = repository.GetByKey(ClientId ?? throw new InvalidOperationException()) ?? throw new InvalidOperationException();

            _viewModel = new()
                {
                    isEdit = true,
                    Key = product.Key,
                    Name = product.Name,
                    Inn = product.IdentityInfo.Inn is not null
                            ? product.IdentityInfo.Inn.Value
                            : null,
                    Adress = product.IdentityInfo.Address is not null
                                ? product.IdentityInfo.Address.Value
                            : null
                };
        }
        else
        {
            throw new InvalidOperationException();
        }

        _editContext = new(_viewModel);
    }

    private async void DeleteAsync(EditContext formContext)
    {
        if (_viewModel.isEdit)
        {
            var product = repository.GetByKey(_viewModel.Key) ?? throw new InvalidOperationException();
            
            var confirmation = await dialog.ShowAsync(
                title: "Вы уверены, что вы хотите удалть?",
                message1: "После удаления нельзя будет вернуться.",
                message2: "Выполнить?");

            if (!confirmation)
            {
                return;
            }

            repository.Delete(product);

            Navigation.NavigateTo("refbook/clients");
            return;
        }

        throw new InvalidOperationException();
    }

    private void Submit(EditContext formContext)
    {
        if (_viewModel.isEdit)
        {
            var product = repository.GetByKey(_viewModel.Key) ?? throw new InvalidOperationException();

            var newProduct = new DEntity(
                product.Key,
                _viewModel.Name ?? throw new InvalidOperationException(),
                new ClientIdentityInfo(
                    _viewModel.Inn is null
                        ? null
                        : new PorphumReferenceBook.Logic.Models.Clients.Inn(_viewModel.Inn),
                    _viewModel.Adress is null
                        ? null
                        : new PorphumReferenceBook.Logic.Models.Clients.Address(_viewModel.Adress)
                )
            );

            repository.Update(newProduct);
        }
        else
        {
            var newProduct = new DEntity(
                0,
                _viewModel.Name ?? throw new InvalidOperationException(),
                new ClientIdentityInfo(
                    _viewModel.Inn is null
                        ? null
                        : new PorphumReferenceBook.Logic.Models.Clients.Inn(_viewModel.Inn),
                    _viewModel.Adress is null
                        ? null
                        : new PorphumReferenceBook.Logic.Models.Clients.Address(_viewModel.Adress)
                )
            );

            repository.Add(newProduct);
        }

        Navigation.NavigateTo("refbook/clients");
    }

    public class ViewModel
    {
        public bool isEdit { get; set; } = false;

        public long Key { get; set; }

        public string? Name { get; set; }

        public string? Inn { get; set; }

        public string? Adress { get; set; }
    }
}
