@using General.Abstractions.Storage;
@using General.Abstractions.Storage.Query;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository;
@using PorphumReferenceBook.Logic.Abstractions.Storage.Repository.Query;
@using PorphumReferenceBook.Logic.Models.Product;
@using PorphumReferenceBook.Logic.Storage.Repository.Query;

@using TProduct = PorphumReferenceBook.Logic.Storage.Models.Product;
@using DProduct = PorphumReferenceBook.Logic.Models.Product.Product;

@inject IProductsQueryRepository repository;
@inject IRefBookQueryParamFactory paramFactory;
@inject NavigationManager Navigation
@inject LinkGenerator LinkGenerator

@if (entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Группа</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in entities)
            {
                <tr>
                    <td>@entity.Key</td>
                    <td>@entity.Name</td>
                    <td>@entity.Group.Name</td>
                    <td>@entity.Info.Description</td>
                    <td>
                        <Button Size="Size.Small"
                                Type="ButtonType.Link"
                                Color="ButtonColor.Primary"
                        @onclick="@(()=>Navigation.NavigateTo($"refbook/product/edit/{entity.Key}"))">
                            Редактировать
                        </Button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination ActivePageNumber="@CurrentPage"
                TotalPages="@PageLimit"
                Alignment="Alignment.Center"
                FirstLinkIcon="IconName.ChevronDoubleLeft"
                PreviousLinkIcon="IconName.ChevronLeft"
                NextLinkIcon="IconName.ChevronRight"
                LastLinkIcon="IconName.ChevronDoubleRight"
                PageChanged="OnPageChangedAsync" />
}

@code {
    private static readonly int PAGE_SIZE = 5;

    public int CurrentPage { get; set; } = 1;

    public int PageLimit { get; set; } = 1;

    private DProduct[]? entities;

    [Parameter]
    public string? NameLike { get; set; } = null;

    [Parameter]
    public List<int>? GroupsKeys { get; set; } = null;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void UpdateEntities()
    {
        PageLimit = (repository.GetLimit() + PAGE_SIZE - 1) / PAGE_SIZE;

        var config = new ProductsParamConfig()
            {
                NameLike = NameLike,
                Skip = (CurrentPage - 1) * PAGE_SIZE,
                Limit = PAGE_SIZE,
                GroupsKeys = (GroupsKeys ?? new()).ToHashSet()
            };

        var query = (paramFactory as IQueryParamsFactory<ProductsParamType, ProductsParamConfig, TProduct>).InitQuery(config);


        entities = repository.GetByQuery(query).ToArray();
    }

    protected override void OnParametersSet()
    {
        UpdateEntities();
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });

        UpdateEntities();
    }

    protected override void OnInitialized() => UpdateEntities();
}
